<configuration>
  <DbProviders>
    <!--Provider Name不区分大小写，名称必须唯一。-->
    <!--Sql Server数据库 Provider Name可识别：system.data.sqlclient|sql2012|sql2008|sql2005|sql2000|sqlclient|mssql -->
    <!--Sql Server默认端口为1433，不需要填写-->
    <DbProvider name="SqlServer2008" defaulted="false" server="127.0.0.1" port="" instance="MSSQL4APPLE" security="true" user="sa" password="111111" datapath="" optional="" provider="mssql" />
    <DbProvider name="MsSqlExpress" defaulted="false" server="." instance="SQLEXPRESS" security="true" datapath="" optional="" provider="mssql" />
    <!--MySql数据库 Provider Name可识别：mysql.data.mysqlclient|mysql -->
    <DbProvider name="MySql" defaulted="false" server="127.0.0.1" port="3306" user="root" password="111111" provider="mysql" />
    <!--Oracle数据库 Provider Name可识别：oracleclient|oracle -->
    <DbProvider name="Oracle" defaulted="false" server="192.168.0.100" port="1521" user="admin" password="admin" dllpath="C:\OracleClient" Owner="" UseQuotedIdentifiers="true" ShowSQL="true" provider="oracle" />
    <!--PostgreSQL数据库 Provider Name可识别：postgresql.data.postgresqlclient|postgresql|npgsql -->
    <DbProvider name="PostgreSQL" defaulted="false" server="192.168.0.100" port="5432" user="root" password="root" provider="postgresql" />
    <!--Firebird数据库 Provider Name可识别：firebirdsql.data.firebirdclient|firebirdclient|firebird -->
    <DbProvider name="Firebird" defaulted="false" server="." port="" user="SYSDBA" password="masterkey" provider="firebird" />
    <!--Sqlite数据库 Provider Name可识别：sqlite -->
    <DbProvider name="Sqlite" defaulted="true" provider="sqlite" />
    <!--SqlCe数据库 Provider Name可识别：sqlCe -->
    <DbProvider name="SqlCe" defaulted="false" provider="sqlce" />
  </DbProviders>
  <DbConnections>
    <!--DbConnection不区分大小写，名称必须唯一。-->
    <!--如果没有为连接字符串指定dbprovider属性，则自动匹配默认的dbprovider-->
    <!--database属性中禁止带文件后缀名，文件数据库文件的后缀名(例如.db|.mdb)系统会自动添加-->
    <DbConnection name="EmeUserCenter" database="EmeUserCenterV11" issystem="true" dbprovider="Sqlite" />
    <DbConnection name="EmeSprite" database="EmeSpriteV11" issystem="true" dbprovider="Sqlite" />
  </DbConnections>
</configuration>