<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="myget" value="http://zyeemcom.vicp.io:8090/nuget" />
    <add key="NuGet.V3" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
